# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
HTML5_DRAWING_NW_APP/resources/node-webkit/**
HTML5_DRAWING_NW_APP/resources/Windows/**
nw-spawn/resources/node-webkit/Windows/**
change_screen_resolution/Debug/*
